/* Main menu button for importing external recipes */
#loadExtBtn {
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('import.png');
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;	
}
#loadExtBtn:hover {
	-fx-opacity: 0.75;
}

/* Main menu button for opening up the shopping list */
#generateListBtn {
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('shopping.png');
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;	
}
#generateListBtn:hover {
	-fx-opacity: 0.75;
}

/* Main menu button for viewing ingredients */
#ingredientsPickBtn {
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('Ingredients.png');
	-fx-background-position: center center; 
	-fx-background-size: 280 200;
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;	
}
#ingredientsPickBtn:hover {
	-fx-opacity: 0.75;
}

/* Main menu button for viewing a selection of recipes */
#recipesBtn {
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('Recipes.png');
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;	
}
#recipesBtn:hover {
	-fx-opacity: 0.75;
}

/* Import meny button for opening the file browser */
#fileBrowserBtn {
	-fx-background-color: transparent;
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-image: url('open_big.png');	
	-fx-background-repeat: no-repeat;	
}
#fileBrowserBtn:hover {
	-fx-opacity: 0.5;

}

/* Import menu button for importing a recipe URL */
#urlBtn {
	-fx-background-color: transparent;
	-fx-background-size: contain;
	-fx-background-position: center center;
	-fx-background-image: url('net_big.png');	
	-fx-background-repeat: no-repeat;		
}

#urlBtn:hover {
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-opacity: 0.5;

}

/* Import menu button for importing a direct URL to a recipe */
#directUrlBtn {
    	-fx-font-weight: bold;
    	-fx-font-size: 12px;
    	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
}
#directUrlBtn:hover {
	-fx-opacity: 0.5;

}

#nGuestsBtn {
    	-fx-font-weight: bold;
    	-fx-font-size: 12px;
    	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
}
#nGuestsBtn:hover {
	-fx-opacity: 0.5;

}

#httpLbl{
	-fx-font-size: 14px;
	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
	-fx-font-weight: bold;
}

#httpField{
	-fx-font-size: 14px;
	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
	-fx-font-weight: bold;
	-fx-border-color: black;
}

#recipeBrowserLabel{
	-fx-font-size: 30px;
	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
	-fx-font-weight: bold;
}

#downloadButton {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";	
}

#downloadButton:hover {
	-fx-opacity: 0.5;
}

#exitButton {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";	
}

#exitButton:hover {
	-fx-opacity: 0.5;
}

#saveBtn {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
}

#saveBtn:hover {
	-fx-opacity: 0.5;
}

#printBtn {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
}

#printBtn:hover {
	-fx-opacity: 0.5;
}

#editBtn {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
}

#editBtn:hover {
	-fx-opacity: 0.5;
}

#addBtn {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
}

#addBtn:hover {
	-fx-opacity: 0.5;
}

#shoppingListLabel{
	-fx-font-size: 60px;
	-fx-text-fill:  #000000;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-font-family: 'Buxton Sketch';
	-fx-font-weight: bold;
}

#statusBar{
	-fx-font-size: 36px;
	-fx-text-fill:  #000000;
	-fx-font-family: 'Buxton Sketch';
	-fx-font-weight: bold;
}

#box{

	-fx-font-size: 20px;
	-fx-text-fill:    #000000;
	-fx-font-family: 'Buxton Sketch';
}

#item{
	-fx-font-size: 20px;
	-fx-text-fill:  #000000;
	-fx-font-family: 'Buxton Sketch';
	-fx-font-weight: bold;
}

#scrollPane > .viewport {
   -fx-background-color: transparent;
}


#scrollPane{
   -fx-background-color: transparent;
}

#scrollPane > .scroll-bar{
 -fx-background-color: rgb(96,96,96);
 -fx-background-radius: 2em;
}

#scrollPane > .scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}

#scrollPane > .scroll-bar:vertical .track-background{
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}

#scrollPane > .scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}

#scrollPane > .scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}

#scrollPane > .scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
}
#scrollPane > .scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}


#scrollPane > .scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}

#scrollPane > .scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}

#scrollPane > .scroll-bar:vertical:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

#selectAllButton {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";

}

#selectAllButton:hover {
	-fx-opacity: 0.5;
}

#nGuestsBtn {
    	-fx-font-weight: bold;
    	-fx-font-size: 12px;
    	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
}

#nGuestsButton:hover {
	-fx-opacity: 0.5;
}

#updateShoppingListButton {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";

}

#updateShoppingListButton:hover {
	-fx-opacity: 0.5;
}

#ingredientsLabel{
	-fx-font-size: 50px;
	-fx-text-fill:  #000000;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-font-family: 'Buxton Sketch';
	-fx-font-weight: bold;
}

#recipeInformationLabel{
	-fx-font-size: 50px;
	-fx-text-fill:  #000000;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-font-family: 'Buxton Sketch';
	-fx-font-weight: bold;
}

#nGuestsLabel{
	-fx-font-size: 20px;
	-fx-text-fill:  #000000;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-background-size: contain;
	-fx-padding: 0;
	-fx-font-family: 'Buxton Sketch';
	-fx-font-weight: bold;
}

#recipesLabel{
	-fx-font-size: 60px;
	-fx-text-fill:  #000000;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
	-fx-font-weight: bold;
}

#authorLabel{
	-fx-font-size: 20px;
	-fx-text-fill:    #000000;
	-fx-font-family: 'Buxton Sketch';
}

#versionLabel{
	-fx-font-size: 20px;
	-fx-text-fill:   #000000;
	-fx-font-family: 'Buxton Sketch';
}

#commentLabel{
	-fx-font-size: 20px;
	-fx-text-fill:    #000000;
	-fx-font-family: 'Buxton Sketch';
}

#cookLabel{
	-fx-font-size: 20px;
	-fx-text-fill:    #000000;
	-fx-font-family: 'Buxton Sketch';
}

#prepLabel{
	-fx-font-size: 20px;
	-fx-text-fill:    #000000;
	-fx-font-family: 'Buxton Sketch';
}

#priceLabel{
	-fx-font-size: 20px;
	-fx-text-fill:    #000000;
	-fx-font-family: 'Buxton Sketch';
}

#vegLabel{
	-fx-font-size: 20px;
	-fx-text-fill:    #000000;
	-fx-font-family: 'Buxton Sketch';
}

.list-view {
   -fx-font-size: 16px;
   -fx-text-fill: #b22222;
   -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
   -fx-font-weight: bold;
   -fx-background-color: transparent;
}

.list-view:focused {
    -fx-background-color: transparent;
}

.list-cell{
    -fx-background-color: transparent;
    -fx-text-fill:   #b22222;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.list-cell:selected {
    -fx-background-color: transparent;
    -fx-text-fill:   white;
}

.list-cell:hover{
    -fx-text-fill:   #adff2f;
}


.list-cell > .scroll-bar{
 -fx-background-color: rgb(96,96,96);
 -fx-background-radius: 2em;
}

.list-view  .scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}

.list-view  .scroll-bar:vertical .track-background{
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}

.list-view  .scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}

.list-view  .scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}

.list-view  .scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
}

.list-view  .scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}

.list-view  .scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.list-view  .scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}

.list-view  .scroll-bar:vertical:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}


#playSlideBtn {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";

}

#playSlideBtn:hover {
	-fx-opacity: 0.5;
}

#stopButton {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: rgb(128,128,128);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}

#playButton {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: rgb(128,128,128); 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;		
}

#fullscreenButton {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: rgb(128,128,128); 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;		
}


#playButtonFS {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: rgb(128,128,128); 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#SlidePauseBtn{
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('SlidePause.png');
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}

#SlidePauseBtn:hover{
	-fx-opacity: 0.75;
}

#SlidePrevBtn{
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('Back.png');
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}

#SlidePrevBtn:hover{
	-fx-opacity: 0.75;
}

#SlideNextBtn{
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('Forward.png');
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}

#SlideNextBtn:hover{
	-fx-opacity: 0.75;
}

#SlideExitBtn{
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('Exit.png');
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}

#SlideExitBtn:hover{
	-fx-opacity: 0.75;
}

#SlideTimeBtn{
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('Timer.png');
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}

#SlideTimeBtn:hover{
	-fx-opacity: 0.75;
}

#SlidePlayBtn{
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('SlidePlay.png');
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}

#SlidePlayBtn:hover{
	-fx-opacity: 0.75;
}	

#SlideFirstBtn{
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('First.png');
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}

#SlideFirstBtn:hover{
	-fx-opacity: 0.75;
}

#SlideLastBtn{
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('Last.png');
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}

#SlideLastBtn:hover{
	-fx-opacity: 0.75;
}

.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.slider{
 -fx-background-color: rgb(96,96,96);
 -fx-background-radius: 1em;
}

.slider .track{
   -fx-background-color: transparent;
   -fx-border-color:transparent;
   -fx-background-radius: 1em; 
}

.slider .track-background{
   -fx-background-color: transparent;
   -fx-background-insets: 0;
   -fx-background-radius: 1em; 
}

.slider .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-radius: 1em;
}

.slider .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}

.slider .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
}

.slider:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

#timeLabel{
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
}

#playTimeLabel{
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
}

#volumeLabel{
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-font-family: "HelveticaNeueLT Pro 55 Roman";
}

#timerField{
	-fx-font-size: 14px;
	-fx-text-fill:  white;
	-fx-font-family: "HelveticaNeueLT Pro 55 Roman";
	-fx-font-weight: bold;
	-fx-border-color: black;
	-fx-background-color: grey;
}