/*
*
*	Buttons for the main menu
*
*/
#loadExtBtn {
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('import.png');
	-fx-background-position: center center; 
	-fx-background-size: 280 200;
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;	
}
#loadExtBtn:hover {
	-fx-opacity: 0.75;
}
#generateListBtn {
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('shopping.png');
	-fx-background-position: center center; 
	-fx-background-size: 280 200;
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;	
}
#generateListBtn:hover {
	-fx-opacity: 0.75;
}
#ingredientsPickBtn {
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('Ingredients.png');
	-fx-background-position: center center; 
	-fx-background-size: 280 200;
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;	
}

#ingredientsPickBtn:hover {
	-fx-opacity: 0.75;
}

#recipesBtn {
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('Recipes.png');
	-fx-background-position: center center; 
	-fx-background-size: 280 200;
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;	
}
#recipesBtn:hover {
	-fx-opacity: 0.75;
}
/*
*
*
*
*/
#fileBrowserBtn {
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('open_big.png');
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;	
}

#fileBrowserBtn:hover {
	-fx-opacity: 0.5;
}

#urlBtn {
	/* Text */
	-fx-font-size: 20px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	/*Background*/
	-fx-background-color: transparent;
	-fx-background-image: url('net_big.png');
	-fx-background-position: center center; 
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;	
}


#urlBtn:hover {
	-fx-opacity: 0.75;

}

#directUrlBtn {
    	-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    	-fx-background-radius: 8;
    	-fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    	-fx-font-weight: bold;
    	-fx-font-size: 12px;
    	-fx-font-family: "Century Gothic";
}

#directUrlBtn:hover {
	-fx-font-size: 11px;
	-fx-font-weight: bold;
	-fx-opacity: 0.5;

}

#httpLbl{
	-fx-font-size: 14px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
}

#httpField{
	-fx-font-size: 14px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	-fx-border-color: black;
}

#recipeBrowserLabel{
	-fx-font-size: 30px;
	-fx-text-fill:  #4682b4;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
}

#downloadButton {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";	
}

#downloadButton:hover {
    	-fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
	-fx-opacity: 0.5;
}

#exitButton {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";	
}

#exitButton:hover {
    	-fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
	-fx-opacity: 0.5;
}
#saveBtn {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "Century Gothic";
}

#saveBtn:hover {
	-fx-opacity: 0.5;
}

#printBtn {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "Century Gothic";
}

#printBtn:hover {
	-fx-opacity: 0.5;
}

#editBtn {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "Century Gothic";
}

#editBtn:hover {
	-fx-opacity: 0.5;
}

#addBtn {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "Century Gothic";
}

#addBtn:hover {
	-fx-opacity: 0.5;
}

#shoppingListLabel{
	-fx-font-size: 60px;
	-fx-text-fill:  #000000;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-font-family: "Andy";
	-fx-font-weight: bold;
}

#statusBar{
	-fx-font-size: 36px;
	-fx-text-fill:  #000000;
	-fx-font-family: "Buxton Sketch";
	-fx-font-weight: bold;
}

#box{
	-fx-font-size: 16px;
	-fx-text-fill:  #c54e2c;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
}

#item{
	-fx-font-size: 26px;
	-fx-text-fill:  #000000;
	-fx-font-family: "Buxton Sketch";
	-fx-font-weight: bold;
}

#scrollPane > .viewport {
   -fx-background-color: transparent;
}


#scrollPane{
   -fx-background-color: transparent;
}

#scrollPane > .scroll-bar{
 -fx-background-color: rgb(96,96,96);
 -fx-background-radius: 2em;
}

#scrollPane > .scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}

#scrollPane > .scroll-bar:vertical .track-background{
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}

#scrollPane > .scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}

#scrollPane > .scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}

#scrollPane > .scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
}
#scrollPane > .scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}


#scrollPane > .scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}

#scrollPane > .scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}

#scrollPane > .scroll-bar:vertical:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

#selectAllButton {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";

}

#selectAllButton:hover {
    	-fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
	-fx-opacity: 0.5;
}

#updateShoppingListButton {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";	

}

#updateShoppingListButton:hover {
    	-fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
	-fx-opacity: 0.5;
}

#ingredientsLabel{
	-fx-font-size: 40px;
	-fx-text-fill:  #4682b4;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
}

#recipeInformationLabel{
	-fx-font-size: 40px;
	-fx-text-fill:  #4682b4;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
}

#recipesLabel{
	-fx-font-size: 40px;
	-fx-text-fill:  #4682b4;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
}

#authorLabel{
	-fx-font-size: 16px;
	-fx-text-fill:    #adff2f;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
}

#versionLabel{
	-fx-font-size: 16px;
	-fx-text-fill:   #adff2f;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
}

#commentLabel{
	-fx-font-size: 16px;
	-fx-text-fill:    #adff2f;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
}

.list-view {
   -fx-font-size: 16px;
   -fx-text-fill: #b22222;
   -fx-font-family: "Century Gothic";
   -fx-font-weight: bold;
   -fx-background-color: transparent;
}

.list-view:focused {
    -fx-background-color: transparent;
}

.list-cell{
    -fx-background-color: transparent;
    -fx-text-fill:   #b22222;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    //-fx-border-color: black;
}

.list-cell:selected {
    -fx-background-color: transparent;
    -fx-text-fill:   white;
  //-fx-border-color: black;
}

.list-cell:hover{
    -fx-text-fill:   #adff2f;
}


.list-cell > .scroll-bar{
 -fx-background-color: rgb(96,96,96);
 -fx-background-radius: 2em;
}

.list-view  .scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}

.list-view  .scroll-bar:vertical .track-background{
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}

.list-view  .scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}

.list-view  .scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}

.list-view  .scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
}

.list-view  .scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}

.list-view  .scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.list-view  .scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}

.list-view  .scroll-bar:vertical:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}


#playSlideBtn {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";

}

#playSlideBtn:hover {
    	-fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
	-fx-opacity: 0.5;
}

#stopButton {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: rgb(128,128,128);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}

#playButton {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: rgb(128,128,128); 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;		
}

#fullscreenButton {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: rgb(128,128,128); 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;		
}


#playButtonFS {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: rgb(128,128,128); 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#SlidePauseBtn{
	-fx-background-color:transparent;
	-fx-font-size: 20px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
 	-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    	-fx-background-radius: 8;
	-fx-border-color: rgb(00, 00, 00);
    	-fx-border-radius: 2;
    	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 ); 
	-fx-background-size: 300 200;
	-fx-background-position: center center; 
	-fx-background-image: url('Pause.png');
}

#SlidePrevBtn{
	-fx-background-color:transparent;
	-fx-font-size: 20px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    	-fx-background-radius: 8;
	-fx-border-color: rgb(00, 00, 00);
    	-fx-border-radius: 2;
    	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 ); 
	-fx-background-size: 300 200;
	-fx-background-position: center center;  
	-fx-background-image: url('Back.png');
}

#SlideNextBtn{
	-fx-background-color:transparent;
	-fx-font-size: 20px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    	-fx-background-radius: 8;
	-fx-border-color: rgb(00, 00, 00);
    	-fx-border-radius: 2;
    	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 ); 
	-fx-background-size: 300 200;
	-fx-background-position: center center; 
	-fx-background-image: url('Forward.png');
}

#SlideExitBtn{
	-fx-background-color:transparent;
	-fx-font-size: 20px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    	-fx-background-radius: 8;
	-fx-border-color: rgb(00, 00, 00);
    	-fx-border-radius: 2;
    	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 ); 
	-fx-background-size: 300 200;
	-fx-background-position: center center; 
	-fx-background-image: url('Exit.png');
}

#SlideTimeBtn{
	-fx-background-color:transparent;
	-fx-font-size: 20px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    	-fx-background-radius: 8;
	-fx-border-color: rgb(00, 00, 00);
    	-fx-border-radius: 2;
    	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 ); 
	-fx-background-size: 300 200;
	-fx-background-position: center center; 
}

#SlidePlayBtn{
	-fx-background-color:transparent;
	-fx-font-size: 20px;
	-fx-font-family: "Century Gothic";
	-fx-font-weight: bold;
	-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    	-fx-background-radius: 8;
	-fx-border-color: rgb(00, 00, 00);
    	-fx-border-radius: 2;
    	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 ); 
	-fx-background-size: 300 200;
	-fx-background-position: center center;
	-fx-background-image: url('Play.png'); 
}	

.slider{
 -fx-background-color: rgb(96,96,96);
 -fx-background-radius: 1em;
}

.slider .track{
   -fx-background-color: transparent;
   -fx-border-color:transparent;
   -fx-background-radius: 1em; 
}

.slider .track-background{
   -fx-background-color: transparent;
   -fx-background-insets: 0;
   -fx-background-radius: 1em; 
}

.slider .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-radius: 1em;
}

.slider .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}

.slider .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
}

.slider:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

#timeLabel{
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-font-family: "Century Gothic";
}

#playTimeLabel{
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-font-family: "Century Gothic";
}

#volumeLabel{
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-font-family: "Century Gothic";
}